<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin - NI Group</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- End layout styles -->
  <style type="text/css">
    /* Chart.js */
    @keyframes chartjs-render-animation {
      from {
        opacity: .99
      }

      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
      position: absolute;
      direction: ltr;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      pointer-events: none;
      visibility: hidden;
      z-index: -1
    }

    .chartjs-size-monitor-expand>div {
      position: absolute;
      width: 1000000px;
      height: 1000000px;
      left: 0;
      top: 0
    }

    .chartjs-size-monitor-shrink>div {
      position: absolute;
      width: 200%;
      height: 200%;
      left: 0;
      top: 0
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjqsAgbfv4CUL169NMyhA7PxI66svnOmE1lm_FtLrv9e2tyz8EYoyM4ZkCXnsB7lRfCC4RFzL4z92kEi-JoP9G6QN7Xbjrh6xiDp4xjebq6KPVzsF2Kh3HRr2dXJ4tGFIpXcgFenG7tP8iVbeH_aH1ojKs7GyVA8JrqwVOYt9PmbCxK9m0Awxe3onwv0gc/s2194/Asset%207@4x.png"
            alt="logo"></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgMdDxqaSV9N2XuG7-IRfgP6q-SkNHVQ6fwAOw6vDypKxp6CnLKuMxtsmSJJWm3Eah89SFGBkU1_nMumOyyCwd6tFRnKDxZeQ_az-AQNYj002oKPxLDCB9fPevd1UJEaBBWx4ZmSFpY89cByeecGs84PUMxoTk5ICYmHO2pS0wNsisHDji33Vs45QeEEgU/s980/file%20%288%29.png"
            alt="logo"></a>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">Cozmoh</h5>
                <span><a href="#" class="back-link">Developer</a>
                </span>
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items active">
          <a class="nav-link" id="btn-property" onclick="showTable('properties')">
            <span class="menu-icon">
              <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Properties</span>
          </a>
        </li>

        <li class="nav-item menu-items" id="btn-developer" onclick="showTable('career')">
          <a class="nav-link">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">career</span>
          </a>
        </li>
        <li class="nav-item menu-items" id="btn-developer" onclick="showTable('developers')">
          <a class="nav-link">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Developer</span>
          </a>
        </li>
        <li class="nav-item menu-items" id="btn-developer" onclick="showTable('tests')">
          <a class="nav-link">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Testimonial</span>
          </a>
        </li>
        <li class="nav-item menu-items" id="btn-developer" onclick="showTable('blogs')">
          <a class="nav-link">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Blog</span>
          </a>
        </li>
        <li class="nav-item menu-items" id="btn-developer" onclick="showTable('users')">
          <a class="nav-link">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Clients</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgMdDxqaSV9N2XuG7-IRfgP6q-SkNHVQ6fwAOw6vDypKxp6CnLKuMxtsmSJJWm3Eah89SFGBkU1_nMumOyyCwd6tFRnKDxZeQ_az-AQNYj002oKPxLDCB9fPevd1UJEaBBWx4ZmSFpY89cByeecGs84PUMxoTk5ICYmHO2pS0wNsisHDji33Vs45QeEEgU/s980/file%20%288%29.png"
              alt="logo"></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button> -->
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <!-- <input type="text" class="form-control" placeholder="Search products">
              </form> -->
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown"
                aria-expanded="false" href="#">+ Create</a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="createbuttonDropdown">
                <h6 class="p-3 mb-0">Forms</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item" href="/career-form">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-file-outline text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Post Career</p>
                  </div>
                </a>
                <a class="dropdown-item preview-item" href="/add-developer">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-file-outline text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Add Developer</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item" href="/add">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-web text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Add Property</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item" href="/addTest">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-layers text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Add Testimonial</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item preview-item" href="/new">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-access-point-network text-warning"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Write Blogs</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">See all projects</p>
              </div>
            </li>
            <!-- <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-view-grid"></i>
              </a>
            </li> -->
            <!-- <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
                aria-expanded="false">
                <i class="mdi mdi-email"></i>
                <span class="count bg-success"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                    <p class="text-muted mb-0"> 1 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                    <p class="text-muted mb-0"> 15 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                    <p class="text-muted mb-0"> 18 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">4 new messages</p>
              </div>
            </li> -->
            <!-- <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                data-toggle="dropdown">
                <i class="mdi mdi-bell"></i>
                <span class="count bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Event today</p>
                    <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                    <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-link-variant text-warning"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Launch Admin</p>
                    <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">See all notifications</p>
              </div>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                  <!-- <img class="img-xs rounded-circle" src="assets/images/faces/face15.jpg" alt=""> -->
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">NI Group</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="profileDropdown">
                <h6 class="p-3 mb-0">Profile</h6>
                <div class="dropdown-divider"></div>
                <!-- <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                  </div>
                </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-logout text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Log out</p>
                  </div>
                </a>
                <!-- <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">Advanced settings</p>
              </div> -->
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%= propCount %>
                        </h3>
                        <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-success ">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                      </div>
                    </div>
                  </div>
                  <h6 class="text-muted font-weight-normal">Propertys growth</h6>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%= deveCount %>
                        </h3>
                        <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-success">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                      </div>
                    </div>
                  </div>
                  <h6 class="text-muted font-weight-normal">Current Developers</h6>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%= blogsCount %>
                        </h3>
                        <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-danger">
                        <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                      </div>
                    </div>
                  </div>
                  <h6 class="text-muted font-weight-normal">Daily Blogs</h6>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%= usersCount %>
                        </h3>
                        <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-success ">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                      </div>
                    </div>
                  </div>
                  <h6 class="text-muted font-weight-normal">Current Users</h6>
                </div>
              </div>
            </div>
          </div>


          <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Order Status</h4>
                  <div class="table-responsive">
                    <table id="properties" class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <i class="input-helper"></i></label>
                            </div>
                          </th>
                          <th> Property Name </th>
                          <th> Property Price </th>
                          <th> Categories </th>
                          <th> Location </th>
                          <th> Developer </th>
                          <th> Possession </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>

                      <tbody>
                        <% properties.forEach(property=> { %>
                          <tr>
                            <!-- Checkbox Column -->
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <i class="input-helper"></i>
                                </label>
                              </div>
                            </td>

                            <!-- Image and Name Column -->
                            <td>
                              <img src="<%= property.imageUrl %>" alt="Image of <%= property.name %>">
                              <span class="pl-2">
                                <%= property.name %>
                              </span>
                            </td>

                            <!-- Price Column -->
                            <td>
                              <%= property.price %>
                            </td>

                            <!-- Categories Column -->
                            <td>
                              <%= property.categories.join(', ') %></td>
                        
                              <!-- Location Column -->
                              <td><%= property.location %></td>
                        
                              <!-- Listed By Column -->
                              <td><%= property.by %></td>
                        
                              <!-- Possession Column -->
                              <td><%= property.possession %></td>
                        
                              <!-- Actions (Edit/Delete) Column -->
                              <td>
                                <a href="/admin/edit/property/<%= property._id %>">
                                  <button>Edit</button>
                                </a>
                                <form action="/admin/delete/<%= property._id %>" method="POST" style="display:inline;">
                                  <button type="submit" onclick="return confirm(' Are you sure you want to delete this
                                property?');">Delete</button>
                                </form>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>


                      </tbody>
                    </table>
                    <table id="career" class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <i class="input-helper"></i></label>
                            </div>
                          </th>
                          <th> Role </th>
                          <th> Experience </th>
                          <th> Location </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>

                      <tbody>
                        <% career.forEach(career=> { %>
                          <tr>
                            <!-- Checkbox Column -->
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <i class="input-helper"></i>
                                </label>
                              </div>
                            </td>

                            <!-- Price Column -->
                            <td>
                              <%= career.role %>
                            </td>

                            <!-- Categories Column -->
                            <td>
                              <%= career.experience %>
                            </td>

                            <!-- Location Column -->
                            <td>
                              <%= career.location %>
                            </td>

                            <td>
                              <form action="/admin/delete/<%= career._id %>" method="POST" style="display:inline;">
                                <button type="submit"
                                  onclick="return confirm('Are you sure you want to delete this Career?');">Delete</button>
                              </form>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>


                      </tbody>
                    </table>
                    <table id="developers" class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <i class="input-helper"></i></label>
                            </div>
                          </th>
                          <th> Developer Name </th>
                          <th> Established </th>
                          <th> Projects </th>
                          <th> On Going Projects </th>
                          <th> CityPresent </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>

                      <tbody>
                        <% developers.forEach(developer=> { %>
                          <tr>
                            <!-- Checkbox Column -->
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <i class="input-helper"></i>
                                </label>
                              </div>
                            </td>
                            <!-- Image and Name Column -->
                            <td>
                              <img src="<%= developer.logo %>" alt="Logo of <%= developer.name %>">
                              <span class="pl-2">
                                <%= developer.name %>
                              </span>
                            </td>

                            <!-- Price Column -->
                            <td>
                              <%= developer.established %>
                            </td>

                            <!-- Categories Column -->
                            <td>
                              <%= developer.project %>
                            </td>

                            <!-- Location Column -->
                            <td>
                              <%= developer.ongoingProjects %>
                            </td>

                            <!-- Listed By Column -->
                            <td>
                              <%= developer.cityPresent %>
                            </td>

                            <!-- Actions (Edit/Delete) Column -->
                            <td>
                              <a href="/admin/edit/developer/<%= developer._id %>"><button>Edit</button></a>
                              <!-- <form style="display:none;" action="/admin/delete/<%= developer._id %>" method="POST" style="display:inline;">
                                  <button type="submit"
                                    onclick="return confirm('Are you sure you want to delete this developer?');">Delete</button>
                                </form> -->
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>


                      </tbody>
                    </table>
                    <table id="tests" class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <i class="input-helper"></i></label>
                            </div>
                          </th>
                          <th> Name </th>
                          <th> CityPresent </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>

                      <tbody>
                        <% tests.forEach(test=> { %>
                          <tr>
                            <!-- Checkbox Column -->
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <i class="input-helper"></i>
                                </label>
                              </div>
                            </td>

                            <!-- Image and Name Column -->
                            <td>
                              <img src="<%= test.logo %>" alt="<%= test.name %>">
                              <span class="pl-2">
                                <%= test.name %>
                              </span>
                            </td>
                            <!-- Listed By Column -->
                            <td>
                              <%= test.cityPresent %>
                            </td>

                            <!-- Actions (Edit/Delete) Column -->
                            <td>
                              <a href="/admin/edit/test/<%= test._id %>"><button>Edit</button></a>
                              <form action="/admin/delete/<%= test._id %>" method="POST" style="display:inline;">
                                <button type="submit"
                                  onclick="return confirm('Are you sure you want to delete this testimony?');">Delete</button>
                              </form>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>


                      </tbody>
                    </table>
                    <table id="blogs" class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <i class="input-helper"></i></label>
                            </div>
                          </th>
                          <th> Name </th>
                          <th> Location </th>
                          <th> Date </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>

                      <tbody>
                        <% blogs.forEach(blog=> { %>
                          <tr>
                            <!-- Checkbox Column -->
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <i class="input-helper"></i>
                                </label>
                              </div>
                            </td>

                            <!-- Image and Name Column -->
                            <td>
                              <img src="<%= blog.image %>" alt="<%= blog.name %>">
                              <span class="pl-2">
                                <%= blog.heading %>
                              </span>
                            </td>
                            <!-- Listed By Column -->
                            <td>
                              <%= blog.location %>
                            </td>

                            <td>
                              <%= blog.dates %>
                            </td>

                            <!-- Actions (Edit/Delete) Column -->
                            <td>
                              <a href="/admin/edit/<%= blog._id %>"><button>Edit</button></a>
                              <form action="/admin/delete/<%= blog._id %>" method="POST" style="display:inline;">
                                <button type="submit">Delete</button>
                              </form>

                            </td>
                          </tr>
                          <% }) %>
                      </tbody>


                      </tbody>
                    </table>
                    <table id="users" class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <i class="input-helper"></i></label>
                            </div>
                          </th>
                          <th> Name </th>
                          <th> Location </th>
                          <th> Date </th>
                        </tr>
                      </thead>
                      <tbody>

                      <tbody>
                        <% users.forEach(user=> { %>
                          <tr>
                            <!-- Checkbox Column -->
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <i class="input-helper"></i>
                                </label>
                              </div>
                            </td>

                            <!-- Image and Name Column -->
                            <td>
                              <img
                                src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-man-avatar-image-for-profile-png-image_13001877.png"
                                alt="<%= user.name %>">
                              <span class="pl-2">
                                <%= user.name %>
                              </span>
                            </td>
                            <!-- Listed By Column -->
                            <td>
                              <%= user.email %>
                            </td>

                            <td>
                              <%= user.number %>
                            </td>

                          </tr>
                          <% }) %>
                      </tbody>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <script>
    function showTable(tableId) {
      // Hide all tables
      document.querySelectorAll('.table-responsive table').forEach(table => {
        table.style.display = 'none';
      });

      // Show the selected table
      document.getElementById(tableId).style.display = 'table';
    }

    // Set initial table visibility
    document.addEventListener('DOMContentLoaded', function () {
      showTable('properties');  // Show the properties table by default
    });
  </script>
  <script src="assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="assets/vendors/chart.js/Chart.min.js"></script>
  <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <script src="assets/js/off-canvas.js"></script>
  <script src="assets/js/hoverable-collapse.js"></script>
  <script src="assets/js/misc.js"></script>
  <script src="assets/js/settings.js"></script>
  <script src="assets/js/todolist.js"></script>
  <script src="assets/js/dashboard.js"></script>



  <div class="jvectormap-tip"></div>

</body>

</html>